{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Tickets</title>
    <link rel="stylesheet" href="{% static 'tickets/css/style.css' %}">
</head>

<body>
    <!-- Barra superior -->
    <header class="navbar">
        <div class="logo">
            <img src="{% static 'tickets/imagenes/logo.jpeg' %}" alt="Logo" class="logo-img">
        </div>
        <div class="navbar-title">
            <h1>Gestión de Tickets - Administración</h1>
        </div>
    </header>

    <!-- Contenido principal -->
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'listar_tickets' %}">Tickets</a></li>
                    <li><a href="#">Reportes</a></li>
                    <li><a href="{% url 'administrar_tickets' %}">Administración</a></li>
                </ul>
            </nav>
            <div class="logout-container" style="
                        position: absolute;
                        bottom: 30px;
                        left: 50%;
                        width: 250px; 
                        transform: translateX(-50%);
                        ">
                <a href="{% url 'logout' %}" class="logout-button">Cerrar Sesión</a>
            </div>
        </div>

        <!-- Área dinámica -->
        <main class="content">
            <div class="form-container">
                <h1>Administración de Tickets</h1>

                <!-- Formulario de filtros -->
                <form method="get">
                    <label for="estado">Estado:</label>
                    <select name="estado" id="estado">
                        <option value="">Todos</option>
                        <option value="1" {% if estado_seleccionado ==1 %}selected{% endif %}>Abierto</option>
                        <option value="2" {% if estado_seleccionado ==2 %}selected{% endif %}>En Proceso</option>
                        <option value="3" {% if estado_seleccionado ==3 %}selected{% endif %}>En espera de feedback
                        </option>
                        <option value="4" {% if estado_seleccionado ==4 %}selected{% endif %}>Cerrado</option>
                    </select>

                    <label for="categoria">Categoría:</label>
                    <select name="categoria" id="categoria">
                        <option value="">Todas</option>
                        {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.descripcion }}</option>
                        {% endfor %}
                    </select>

                    <label for="prioridad">Prioridad:</label>
                    <select name="prioridad" id="prioridad">
                        <option value="">Todas</option>
                        <option value="1">Bajo</option>
                        <option value="2">Medio</option>
                        <option value="3">Alto</option>
                        <option value="4">Muy Alto</option>
                    </select>

                    <br><br>

                    <label for="admin_asignado">Administrador:</label>
                    <select name="admin_asignado" id="admin_asignado">
                        <option value="">Todos</option>
                        {% for admin in administradores %}
                        <option value="{{ admin.id }}">{{ admin.nombre }} {{ admin.apellido }}</option>
                        {% endfor %}
                    </select>

                    <label for="fecha_desde">Fecha desde:</label>
                    <input type="date" name="fecha_desde" id="fecha_desde" value="{{ request.GET.fecha_desde }}">

                    <label for="fecha_hasta">Fecha hasta:</label>
                    <input type="date" name="fecha_hasta" id="fecha_hasta" value="{{ request.GET.fecha_hasta }}">

                    <button type="submit">Filtrar</button>
                </form>

                <!-- Tabla de tickets -->
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Usuario creador</th>
                            <th>Estado</th>
                            <th>Categoria</th>
                            <th>Prioridad</th>
                            <th>Fecha de Creación</th>
                            <th>Usuario asignado</th>
                            <th>Hora asignación</th>
                            <th>Tiempo Resolución</th>
                            <!-- <th>Acciones</th>-->
                            <!--            <th>Cambiar Contraseña</th> -->
                        </tr>
                    </thead>
                    <br>
                    <tbody>
                        {% for ticket in tickets %}
                        <tr>
                            <td><a href="{% url 'seguimiento_ticket' ticket.id %}" target="_blank">{{ ticket.id }}</a>
                            </td>
                            <td>{{ ticket.usuario.nombre }}</td>
                            <td>{{ ticket.get_estado_display }}</td>
                            <td>{{ ticket.categoria.descripcion }}</td>
                            <td>{{ ticket.get_prioridad_display }}</td>
                            <td>{{ ticket.fecha_creacion }}</td>

                            <td>
                                <p>{{ ticket.admin_asignado.nombre|default:"No asignado" }}</p>
                            </td>
                            <td>
                                {% if ticket.horario_asignacion %}
                                {{ ticket.horario_asignacion }}
                                {% else %}
                                No definido
                                {% endif %}
                            </td>

                            <td>
                                {% if ticket.tiempo_resolucion %}
                                {{ ticket.tiempo_resolucion }}
                                {% else %}
                                No definido
                                {% endif %}
                            </td>

                            <!--<form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="ticket_id" value="{{ ticket.id }}">-->

                            <!-- Cambiar estado -->
                            <!--<select name="nuevo_estado">
                                            <option value="1" {% if ticket.estado == 1 %}selected{% endif %}>Abierto</option>
                                            <option value="2" {% if ticket.estado == 2 %}selected{% endif %}>En Proceso</option>
                                            <option value="3" {% if ticket.estado == 3 %}selected{% endif %}>En espera de feedback</option>
                                            <option value="4" {% if ticket.estado == 4 %}selected{% endif %}>Cerrado</option>
                                        </select>-->

                            <!-- Cambiar prioridad -->
                            <!-- <select name="nueva_prioridad">
                                            <option value="1" {% if ticket.prioridad == 1 %}selected{% endif %}>Bajo</option>
                                            <option value="2" {% if ticket.prioridad == 2 %}selected{% endif %}>Medio</option>
                                            <option value="3" {% if ticket.prioridad == 3 %}selected{% endif %}>Alto</option>
                                            <option value="4" {% if ticket.prioridad == 4 %}selected{% endif %}>Muy Alto</option>
                                        </select>-->

                            <!-- Asignar administrador -->
                            <!-- <select name="nuevo_admin">
                                            <option value="">No asignado</option>
                                            {% for admin in administradores %}
                                                <option value="{{ admin.id }}" {% if ticket.admin_asignado and ticket.admin_asignado.id == admin.id %}selected{% endif %}>
                                                    {{ admin.nombre }} {{ admin.apellido }}
                                                </option>
                                            {% endfor %}
                                        </select> -->

                            <!-- <label for="horaAsig_{{ ticket.id }}">Hora Asig.:</label>
                                        <input type="time" name="horario_asignacion" id="horaAsig_{{ ticket.id }}">

                                        <label for="fechaResolucion_{{ ticket.id }}">Tiempo Res.:</label>
                                        <input type="time" name="tiempo_resolucion" id="fechaResolucion_{{ ticket.id }}">

                                        <button type="submit">Actualizar</button>
                                    </form>-->

                            <!-- Botón para cambiar contraseña 
                                <td>                                    
                                    <form method="get" action="{% url 'cambiar_contrasena' ticket.usuario.id %}">
                                        <button type="submit">Cambiar Contraseña</button>
                                    </form>                                    
                                </td>-->
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8">No hay tickets disponibles.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br><br>
            <!-- Paginador -->
            <div class="pagination">
                {% if tickets.has_previous %}
                <a href="?pagina=1">&laquo; Primera</a>
                <a href="?pagina={{ tickets.previous_page_number }}">Anterior</a>
                {% endif %}

                <span>Página {{ tickets.number }} de {{ tickets.paginator.num_pages }}</span>

                {% if tickets.has_next %}
                <a href="?pagina={{ tickets.next_page_number }}">Siguiente</a>
                <a href="?pagina={{ tickets.paginator.num_pages }}">Última &raquo;</a>
                {% endif %}
            </div>

        </main>
    </div>
    <!--Script para que al momento de tipear la fecha desde se complete fecha hasta-->
    <!--  <script>
           document.addEventListener("DOMContentLoaded", function() {
                const fechaDesdeInput = document.getElementById("fecha_desde");
                const fechaHastaInput = document.getElementById("fecha_hasta");

                fechaDesdeInput.addEventListener("change", function() {
                    const valorDesde = this.value;  // YYYY-MM-DD

                    if (!valorDesde) return;

                    // Solo autocompletar si fecha_hasta está vacía
                    if (!fechaHastaInput.value) {
                        const fechaDesdeDate = new Date(valorDesde);
                        fechaDesdeDate.setDate(fechaDesdeDate.getDate() + 7);

                        const year  = fechaDesdeDate.getFullYear();
                        const month = String(fechaDesdeDate.getMonth() + 1).padStart(2, '0');
                        const day   = String(fechaDesdeDate.getDate()).padStart(2, '0');

                        fechaHastaInput.value = `${year}-${month}-${day}`;
                    }

                    // Opcional: no permitir que fecha_hasta sea menor que fecha_desde
                    fechaHastaInput.min = valorDesde;
                });
             });
     </script>-->

</body>

</html>
