{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Actualización de su Ticket</title>
</head>
<body>
    <h2>Actualización en su Ticket #{{ ticket.id }}</h2>
    <p>Se ha cambiado el Estado de su ticket.</p>
    <p><strong>Estado:</strong> {{ estado }}</p>
    
    <p>Fecha de Actualización: {{ ticket.fecha_modificacion }}</p>

    <br>
    <p><strong>Ver detalles del ticket:</strong> 
        <a href="{{ ticket_url }}" target="_blank">
            Click aquí para ver el ticket
        </a>
    </p>
    <br>
    <p>Saludos,<br>Equipo de Soporte</p>
    
</body>
</html>