{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Ticket Creado</title>
    <link rel="stylesheet" href="{% static 'tickets/css/style.css' %}">
</head>
<body>
    <h2>Se ha creado un nuevo ticket</h2>
    <p><strong>ID del Ticket:</strong> {{ ticket_id }}</p>
    <p><strong>Usuario:</strong> {{ usuario.apellido }}, {{ usuario.nombre }}</p>
    <p><strong>Tipo de Caso:</strong> {{ tipoCaso }}</p>
    <p><strong>Descripción:</strong> {{ descripcion }}</p>
    <p><strong>Prioridad:</strong> {{ prioridad }}</p>
</body>
</html>
