/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

body h2 p{
    margin-left: 1%;
    position: fixed;
}

/* Navbar */
.navbar {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 98%;
    z-index: 1000;
    background: linear-gradient(90deg, #323842, #000000);
    color: #fff;
}

.logo-img {
    height: 50px;
}

.navbar-title h1 {
    margin: 0;
    font-size: 1.5em;
}

/*Header */
header {
    background: linear-gradient(90deg, #323842, #000000);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header-title {
    margin: 0;
    font-size: 1.8em;
}

/* Main Container */
.container {
    display: flex;
    margin-top: 70px;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #f1f1f1;
    padding: 20px;
    border-right: 1px solid #ccc;
    height: 90vh;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar nav ul li {
    margin-bottom: 15px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.sidebar nav ul li a:hover {
    color: #797676;
}

/* Content Area */
.content {
    margin-left: 270px;
    padding: 20px;
    flex-grow: 1;
}

/* Logout Button */
.logout-container {
    margin-top: auto;
    padding-top: 20px;
}

.logout-button {
    color: #fff;
    background-color: #5a5e64;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    display: block;
    transition: background-color 0.3s ease;
    border: 1px solid #000;
}

.logout-button:hover {
    background-color: #000;
    color: #fff;
}

/* Table */
table {
    width: 99%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #000;
    padding: 5px;
    text-align: left;
}

table th {
    background-color: #5a5e64;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

/* Botón Crear Ticket */
.create-ticket-button {
    text-align: center;
    margin: 50px 0;
}

.create-ticket-button a {
    color: #fff;
    background-color: #5a5e64;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    border: 1px solid #000;
    transition: background-color 0.3s ease;
}

.create-ticket-button a:hover {
    background-color: #000;
    color: #fff;
}

/* Fomulario Login */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #5a5e64;
}

.form-container {
    margin-left: 1%;
}

.btn-agregar {
    background-color: #5a5e64;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn-agregar:hover {
    background-color: #000000;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group textarea {
    width: 50%;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pass-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pass-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #5a5e64;
}

.form-group-pass {
    margin-bottom: 15px;
}

.form-group-pass label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group-pass textarea {
    width: 50%;
}

.form-group-pass input {
    width: 55%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group-estado {
    margin-bottom: 15px;
}

.form-group-estado label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group-estado input {
    width: 5%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-actions {
    text-align: center;
}

.btn-submit {
    background-color: #5a5e64;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #000000;
}

/* Mensaje de Error */
.messages {
    margin-top: 20px;
    text-align: center;
}

.error-message {
    color: #cc0000;
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-text {
    margin: 0;
    font-size: 0.9em;
}

/* Home Container */
.home-container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.contador-letras{
    font-size: 0.9em;
    color: #5a5e64;
    margin-top: 5px;
    text-align: left;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    padding: 8px 16px;
    margin: 4px;
    text-decoration: none;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.pagination a:hover {
    background-color: #000000;
    color: white;
}

.pagination span {
    padding: 8px 16px;
    margin: 0 10px;
    font-weight: bold;
    display: inline-block;
}

/* Estilo Responsivo */
@media (max-width: 600px) {
    .login-container {
        padding: 10px;
    }

    .btn-submit {
        font-size: 0.9em;
        padding: 8px 15px;
    }
}

/* Estilos para el restablecimiento de contraseña */
.password-reset-link {
    margin-top: 15px;
    text-align: center;
}

.password-reset-link a, .login-link a {
    color: #000;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
}

.password-reset-link a:hover, .login-link a:hover {
    color: #797676;
}

.info-message {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
}

.login-link {
    margin-top: 15px;
    text-align: center;
}

/* Estilos para el email de restablecimiento */
.email-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.email-header {
    background-color: #323842;
    color: white;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    margin: -20px -20px 20px -20px;
}

.email-button {
    background-color: #5a5e64;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin: 20px 0;
    transition: background-color 0.3s ease;
}

.email-button:hover {
    background-color: #000000;
}

.email-footer {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    font-size: 0.9em;
    color: #666;
}

.password-reset-link, .login-link {
    margin-top: 15px;
    text-align: center;
    width: 100%; /* Asegura que el div ocupe todo el ancho disponible */
    display: block; /* Convierte en elemento de bloque */
}

.password-reset-link a, .login-link a {
    color: #000;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    display: inline-block; /* Permite centrar el enlace */
    margin: 0 auto; /* Ayuda con el centrado */
}

.password-reset-link a:hover, .login-link a:hover {
    color: #797676;
}