body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

/* Barra superior fija */
.navbar {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: fixed;
    top: 0;
    width: 99%;
    z-index: 1000;
}

.logo-img {
    height: 50px;
}

.navbar-title h1 {
    margin: 0;
    font-size: 1.5em;
    align-content: left;
}

/* Contenedor principal */
.container {
    display: flex;
    margin-top: 70px;
}

/* Menú lateral */
.sidebar {
    width: 250px;
    background-color: #f1f1f1;
    padding: 20px;
    border-right: 1px solid #ccc;
    height: 90vh; /* Altura completa de la ventana */
    position: fixed;
    display: flex;
    flex-direction: column; /* Asegura que los elementos se alineen en columna */
}

/* Lista del menú lateral */
.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar nav ul li {
    margin-bottom: 15px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.sidebar nav ul li a:hover {
    color: #797676;
}

/* Contenedor del bóton de Cerrar Sesión */
.logout-container {
    margin-top: auto;
    padding-top: 20px;
}

/* Botón de cerrar sesión al final del sidebar */
.logout-button {
    color: #fff; /* Texto blanco */
    background-color: #5a5e64; /* Gris oscuro */
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;    
    text-align: center;
    transition: background-color 0.3s ease; /* Transición suave para hover */
    display: block;
}

.logout-button:hover {
    background-color: #000; /* Negro al pasar el cursor */
    color: #fff; /* Texto permanece blanco */
}

/* Contenido dinámico */
.content {
    margin-left: 270px; /* Ajusta al ancho del sidebar */
    padding: 20px;
    flex-grow: 1;
}

header {
    background: linear-gradient(90deg, #323842, #000000);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header-title {
    margin: 0;
    font-size: 1.8em;
}

/* Estilo para el formulario de inicio de sesión */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #5a5e64;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-actions {
    text-align: center;
}

.btn-submit {
    background-color: #5a5e64;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #000000;
}

/* Mensajes de error */
.messages {
    margin-top: 20px;
    text-align: center;
}

.error-message {
    color: #cc0000;
    font-weight: bold;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-text {
    margin: 0;
    font-size: 0.9em;
}

.home-container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

/* Responsividad */
@media (max-width: 600px) {
    .login-container {
        padding: 10px;
    }

    .btn-submit {
        font-size: 0.9em;
        padding: 8px 15px;
    }
}
