body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

header {
    background: linear-gradient(90deg, #323842, #000000);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header-title {
    margin: 0;
    font-size: 1.8em;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #5a5e64;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-actions {
    text-align: center;
}

.btn-submit {
    background-color: #5a5e64;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #000000;
}

.messages {
    margin-top: 20px;
    text-align: center;
}

.error-message {
    color: #cc0000;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-text {
    margin: 0;
    font-size: 0.9em;
}

.logout-button {
    color: #fff;
    background-color: #5a5e64;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #000000;
}

.home-container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

@media (max-width: 600px) {
    .login-container {
        padding: 10px;
    }

    .btn-submit {
        font-size: 0.9em;
        padding: 8px 15px;
    }
}
